RewriteEngine On

DirectoryIndex index.php

RewriteCond %{HTTP_REFERER} !^$

Options Includes FollowSymLinks

Options +MultiViews

IndexIgnore *

RewriteRule ^index$ index.php

AddType application/x-httpd-php .htm .html

<Files .htaccess>
  order allow,deny
  deny from all
</Files>
