header
  .container
    h1#logo gitProject
    nav
      h2 Main Navigation
      ul
        li
          a(href="/chello") Chello
            span /
        li
          a(href="/learncss") LearnCSS
            span /
        li
          a(href="/PSD-to-HTML-1-master") PSD2HTML
            span /
        li
          a(href="/FullCourse/html") jQuery Course
            span /