doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../css/style.css")
    title Learn CSS
  body
    header.main-header
      div
        a(href="index.html").main-header__brand uHost
      nav.main-nav
        ul.main-nav__items
          li.main-nav__item
            a(href="packages/index.html") Packages
          li.main-nav__item
            a(href="customers/index.html") Customers
          li.main-nav__item
            a(href="start-hosting/index.html") Start Hosting
    main.top-banner
      section#first-banner
        h1 Get the freedom you deserver!
      section.second-banner
        h1 Choose Your Plan.
        p Make sure you get the most for your money!
